<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
      <div class="form-group">
          <label >E-Mail</label>
          <input #email type="text" class="form-control" name="email" required />
          <!--<div  class="help-block">E-Mail is required</div>-->
      </div>
      <div class="form-group">
          <label>Username</label>
          <input #username type="text" class="form-control" name="username" required />
          <!--<div class="help-block">Username is required</div>-->
      </div>
      <div class="form-group">
          <label>Password</label>
          <input #pw1 type="password" class="form-control" name="password" required />
          <!--<div class="help-block">Username is required</div>-->
      </div>
      <div class="form-group">
          <label>Confirm Password</label>
          <input #pw2 type="password" class="form-control" name="confirmedPassword" required />
          <!--<div class="help-block">Password is required</div>-->
      </div>
      <div class="form-group">
          <button (click)="addUser(email.value, pw1.value, pw2.value, username.value)" class="btn btn-primary">Register</button>
          <a [routerLink]="['/']" class="btn btn-link">Cancel</a>
      </div>
</div>
