.red {
    border: 2px solid red;
}

.green {
    border: 2px solid green;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

label {
  position: relative;
}

input:focus, textarea:focus {
  border-color: #000;
}

h3 {
  margin-top: 0;
}

form {
  position: relative;
  top: 50%;
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;

}

button:disabled,
button[disabled]{
    background-color: lightgray;
    color: gray;
    border-color: lightgray;
}
