<div *ngIf="_showfilter">
<li class="card recipe-card">
  <div class="card-header"><h3>Filter</h3></div>
  <div class="card-header">Include-Ingredients</div>
  <div class="card-body filter">
    <div>
      <span><app-includeingredients></app-includeingredients></span>
    </div>
  </div>
  <div class="card-header">Exclude-Ingredients</div>
  <div class="card-body filter">
    <div>
      <span><app-excludeingredients-filter></app-excludeingredients-filter></span>
    </div>
  </div>
  <div class="card-header">Time</div>
  <div style="height: 8%;" class="card-body filter">
    <div>
      <span><app-time-filter></app-time-filter></span>
    </div>
  </div>
  <div class="card-header">Calories</div>
  <div style="height: 10%;" class="card-body filter">
    <div>
      <span><app-calories-filter></app-calories-filter></span>
    </div>
  </div>
  <div class="card-header">Diet</div>
  <div class="card-body filter">
    <div>
      <span><app-diet-filter></app-diet-filter></span>
    </div>
  </div>
</li>
<button (click)="toggleButton()" class="hidebtn"><</button>
</div>
<div *ngIf="!_showfilter">
  <button (click)="toggleButton()" class="showbtn">></button>
</div>
<!--<div class="filer-container">-->
<!--<h3 style="text-align: center;">Filter</h3>-->
<!--<app-includeingredients></app-includeingredients>-->
<!--<app-excludeingredients-filter></app-excludeingredients-filter>-->
<!--<app-time-filter></app-time-filter>-->
<!--<app-calories-filter></app-calories-filter>-->
<!--<app-diet-filter></app-diet-filter>-->
<!--<button style="width: 100%" (click)="filter()" class="btn btn-primary" type="submit">-->
<!--<i class="fas fa-search"></i>-->
<!--</button>-->
<!--</div>-->
