<div class="cover-container d-flex h-40 p-5 mx-auto flex-column">
  <div class="masthead mb-auto">
    <div class="inner">

      <h3 class="masthead-brand">RezeptFinder</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" [routerLink]="['']">Home</a>
        <li class="dropdown">
          <a href="#" class="nav-link mx-2" data-toggle="dropdown">Log In <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
            <div class="col-lg-12">
              <div class="text-center">
                <h3><b>Log In</b></h3>
              </div>
              <form id="ajax-login-form" action="" method="post" role="form" autocomplete="off">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username"
                    value="" autocomplete="off">
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password"
                    autocomplete="off">
                </div>

                <div class="form-group">
                  <div class="row">
                    <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-success m-2"
                      value="Log In">
                    <a [routerLink]="['/registration']" name="signup-submit" id="signup-submit" class="form-control btn btn-success m-2">
                      Sign Up </a>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="http://google.de" id="forgetpasswort" tabindex="5" class="forgot-password">Forgot
                          Password?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </ul>
        </li>
        <a class="nav-link" href="#">Contact</a>
        <a class="nav-link" *ngIf="loggedIn" href="#">Logout</a>
      </nav>
    </div>
  </div>

</div>
