<div class="cover-container d-flex h-40 p-5 mx-auto flex-column">
  <div class="masthead mb-auto">
    <div class="inner">

      <div class="masthead-brand">
        <a [routerLink]="['home']">
          <img id="logo" src="./assets/logo.png">
        </a>
      </div>

      <nav class="nav nav-masthead">
        <a class="nav-link" [routerLink]="['home']">Home</a>
        <app-login></app-login>
        <a class="nav-link" style="margin-left: 16px" [routerLink]="['/userSettings']" *ngIf="loginservice.loggedIn"> User </a>
        <a class="nav-link" [routerLink]="['contact']">Contact</a>
        <a class="nav-link" (click)="logOutUser()" *ngIf="loginservice.loggedIn" [routerLink]="['home']">Logout</a>
      </nav>
    </div>
  </div>
</div>
