<div class="container mx-auto d-flex">

  <div class="row">

    <div class="col-4" >
        <img class="img-fluid" src="https://images.derstandard.at/img/2017/03/30/CURENahrungspyramideArtikelbild.jpg?w=600&s=e2a551933d0fa5460cad3dffc417dd68"/>
    </div>

    <div class="col-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> dd </li>
        <li class="list-group-item"> dddddd </li>
        <li class="list-group-item"> ddddd </li>
      </ul>
    </div>

  </div>
</div>
