<div class="">
  <div class="">
    <form [formGroup]="passwordForm" (submit)="changePassword(newPassword.value, oldPassword.value)">
      <h4>
      Change password
    </h4>
  <div class="d-flex flex-column">
  <div class="form-group row-1">
     <label for="oldPassword">Old password:</label>
    <input id="oldPassword" #oldPassword class="form-control" formControlName="oldPassword" type="password" autocomplete="new-password"
           [ngClass]="{'red': passwordForm.get('oldPassword').hasError('required') && oldPassword.value !== ''}"/>
  </div>

  <div class="form-group row-1">
    <label for="newPassword">New password:</label>
    <input id="newPassword" formControlName="password" #newPassword class="form-control" type="password"
           autocomplete="new-password"
           [ngClass]="{'red': (passwordForm.get('password').hasError('required') ||
           passwordForm.get('password').hasError('invalidPassword')) && newPassword.value !== ''}"/>
    <small class="form-text text-muted"
           *ngIf="passwordForm.get('password').hasError('invalidPassword') && newPassword.value !== ''">Your
      password
      does not match the requirements.
    </small>
  </div>

  <div class="form-group row-1">
    <label for="repeatNewPassword">Repeat new password:</label>
    <input id="repeatNewPassword" formControlName="confirmedPassword" #repeatNewPassword class="form-control"
           type="password" autocomplete="new-password"
           [ngClass]="{'red': (passwordForm.get('confirmedPassword').hasError('required') ||
           passwordForm.hasError('notSame')) && repeatNewPassword.value !== ''}"/>
    <small class="form-text text-muted" *ngIf="passwordForm.hasError('notSame') && repeatNewPassword.value !== ''">Your passwords do not
      match.
    </small>
  </div>

    <div class="form-group">
      <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-info"> Change Password </button>
    </div>
  </div>
    </form>
  </div>
</div>
