<div class="container mx-auto">

  <div class="row mt-2 px-3 w-100 headline">
    <h2>
      User
    </h2>
  </div>
  <ul>
    <li><a (click)="showPasswordChange = true; showEmailChange = false;">Change Password</a></li>
    <li><a (click)="showEmailChange = true; showPasswordChange = false;">Change Email</a></li>
    <li style="float:right"><a (click)="removeAccount()">Delete Account</a></li>
    <li style="float:right"><a (click)="listFavorites()">Favorites</a></li>
    <li style="float:right"><a (click)="showHistory = true">History</a></li>
  </ul>


  <hr>
  <table class="table table-hover">
    <tr>
      <th>Username:</th>
      <td>{{username}}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{email}}</td>
    </tr>
  </table>
  <div class="d-flex justify-content-around pt-4">
    <app-change-email *ngIf="showEmailChange"></app-change-email>
    <app-change-password *ngIf="showPasswordChange"></app-change-password>
    <app-history *ngIf="showHistory"></app-history>
  </div>
</div>
